@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!--begin::Footer-->
<div id="kt_app_footer" class="app-footer ">
    <!--begin::Footer container-->
    <div class="app-container  container-fluid d-flex flex-column flex-md-row flex-center flex-md-stack py-3 ">
        <!--begin::Copyright-->
        <div class="text-gray-900 order-2 order-md-1">
            <span class="text-muted fw-semibold me-1">@DateTime.Now.Year&copy;</span>
            <a href="https://dion.vn" target="_blank" class="text-gray-800 text-hover-primary">Digital Innovation</a>
        </div>
        <!--end::Copyright-->
        <!--begin::Menu-->
        <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
            <li class="menu-item"><a href="https://dion.vn/" target="_blank" class="menu-link px-2">Giới thiệu</a></li>
            <li class="menu-item"><a href="https://dion.vn/contacts/" target="_blank" class="menu-link px-2">Hỗ trợ</a></li>
        </ul>
        <!--end::Menu-->
    </div>
    <!--end::Footer container-->
</div>
<!--end::Footer-->